# DOCKER NON-ROOT USER
USER_UID=$(id --user)
USER_GID=$USER_UID
# Exllamav3 Flags
#INPUT=/content/model
#OUTPUT=/content/output
BITS=8
#HEAD_BITS=8
#SHARD_SIZE=8192
#EXL3_PM=false
#EXL3_DL=0
# HuggingFace CLI Flags
HF_USERNAME=anonymous
HF_TOKEN=hf_
HF_WORKERS=8
